@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-pink-100;
}

.menu-primary-enter {
  @apply translate-y-4 opacity-0;
}
.menu-primary-enter-active {
  @apply transition-all duration-300 ease-out;
}

.menu-primary-enter-done {
  @apply translate-y-0 opacity-100;
}

.menu-primary-exit {
  @apply translate-y-0 opacity-100;
}

.menu-primary-exit-done {
  @apply translate-y-4 opacity-0;
}

.menu-primary-exit-active {
  @apply transition-all duration-300 ease-out;
}

.pop-out-enter {
  opacity: 0;
  transform: scale(0.9);
}
.pop-out-enter-active {
  opacity: 1;
  transform: translateX(50%);
  transition: opacity 300ms, transform 300ms;
}
.pop-out-exit {
  opacity: 1;
}
.pop-out-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.slide-down-enter {
  opacity: 0;
}
.slide-down-enter-active {
  opacity: 1;
  transform: translateY(10px);
  transition: opacity 300ms, transform 300ms;
}
.slide-down-exit {
  opacity: 1;
}
.slide-down-exit-active {
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 300ms, transform 300ms;
}
